@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --primary-color: #333333;
  --completed: #2ecc71;
  --trash: #c0392b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Poppins", "Open Sans", sans-serif;
}

button {
  color: #fff;
  cursor: pointer;
  border: 0;
  margin: 0;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container h1,
p {
  color: var(--primary-color);
}
 h1 {
   font-size: 42px;
 }

.container header {
  margin: 50px;
}

form input {
  border: 0;
  width: 450px;
  min-width: 400px;
  border-radius: 4px;
  padding: 1em;
  background-color: #fff;
}

form button {
  background-color: var(--primary-color);
  padding: 1em;
}

.todos-container {
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos {
  list-style: none;
  width: 100%;
}

.todo {
  background-color: #fff;
  padding: 7px;
  margin: 15px 0 5px 0;
  border: 1px solid #eee;
  
  display: flex;
  align-items:center;
  justify-content: space-between;
}


.btn-completed {
  background: var(--completed);
  padding: 8px;
}

.btn-trash {
  background: var(--trash);
  padding: 8px;
}

.completed {
  text-decoration: line-through;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.deleted {
  transform: translateY(8rem) rotateZ(20deg);
  transition: all 0.5s ease-out;
  opacity: 0;
}

.fa-trash, .fa-check {
  pointer-events: none;
}